#header{
  background-image: url('image/3.png');
  background-size: 1150px 450px;
  /*background-attachment: fixed;*/
  height: 350px;
}

#subHeader{
  background-color: gray;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

li {
  float: left;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

li a.active {
  color: white;
  background-color: #4CAF50;
}

#content {
  background-color: #DCDCDC;
  }
#content {
  background-color: #DCDCDC;
  }

.img
  {
    width: 150px;
    /*margin: auto;*/
    margin-left: 50px;
    margin-right: 50px;
    float: left;
    border-radius: 50px;
    border : 3px solid black;
  }

#footer {
    background-color: #f3f3f3;
    color: black;
    text-align: center;
}

.body{
    background-image: url('image/3.png');
    font-family: sans-serif;
}

.form {
  padding: 1em;
  margin: 2em auto;
  width: 17em;
  background: #fff;
  border-radius: 3px;
}
